@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

.shadow-fintech {
    box-shadow: 0 0 40px rgba(0, 247, 255, 0.15);
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradientMove 6s ease infinite;
}

@layer utilities {
    @keyframes gradientMove {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .animate-gradient {
        background-size: 200% 200%;
        animation: gradientMove 6s ease infinite;
    }
}

.view-switch {
    transition: 0.2s ease-in-out;
}

.view-switch:active {
    transform: scale(0.96);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.97);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.18s ease-out;
}
